<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_WcfServiceLibrary" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WcfServiceLibrary1/LibraryService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_WcfServiceLibrary"
                contract="ServiceReference1.WcfServiceLibrary" name="WSHttpBinding_WcfServiceLibrary">
                <identity>
					<dns value="localhost" />
				</identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>